*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
body{
    width: 100%;
    height: 100%;
    background-color: rgb(4, 4, 36);
    color: white;
    font-family: Oswald;
}


#nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(5, 5, 71);
}

#ul{

    display: flex;
    justify-content: center;
      list-style: none;
}
.li{

margin-left: 15px;
margin-right: 15px;

}
.li a{

    text-decoration:none;
    color: white;
    }
    .li a:hover{

        color: rgb(98, 20, 172);
        font-size: 1.5rem;
        }
#left{

    font-size: 2rem;
}

#sec
{
    display: flex;
    justify-content:space-around;
    margin-top: 10px;

}
#leftsec{
margin-top: 50px;
    height: 400px;
    width:500px;
   
}
#rightsec{
    margin-top: 50px;
    height: 400px;
    width:500px;
   
}
#img{
    margin-top: 100px;
    width: 500px;
    height: 280px;
   
}
#purple{

    color: rgb(98, 20, 172);
}
#element{
    color: rgb(98, 20, 172);
    font-weight: 800;
    font-size: 2rem;
}
#u1{
   
     align-items: center;
      display: flex;
     justify-content: flex-start;
}
.leftimg{
    margin-left: 40px;
    margin-right: 100px;
}
.imgs{
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    margin-bottom: 01px;

}
.li1{
 
   display: flex;
  

}
.text:hover{
     color: rgb(98, 20, 172); 
    
     font-size: 1.1rem; 
    
}
#foot{
    padding-top: 10px;
    display: flex;
    justify-content: space-around; 
    
    height: 140px;
    background-color: rgb(5, 5, 71);
}
#ull{
    padding-top: 10px;
   font-size: small;
  
 
   list-style: none;
   text-decoration: none;
}
.btn{
   
    background-color: rgb(128 134 239);
    height: 25px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 2px;
    font-weight: bold;
}
.btn:hover{
    font-weight: bolder;
    background-color:rgb(86, 93, 236) ;
    text-shadow: 1.2rem;
     
}
.h5{
    margin-left: 20px;
    color: white;
    margin-top: 20px;

}
.h5:hover{
    color: rgb(98, 20, 172); 
    font-weight: bolder;
    font-size: 1.1rem;
}

.lii{
    margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: orange;
}
.links{
    margin-left: 20px;
    color: wheat;
}