/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 10px;
    font-size: 32px;
    color: #333;
}

header p {
    font-size: 18px;
    color: #666;
}

main {
    text-align: center;
    padding: 20px;
}

.emergency-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.emergency-button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

#doctorList {
    margin-top: 20px;
}

#doctorList h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.doctor-category {
    margin-bottom: 20px;
}

.doctor-category h3 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.doctor-category ul {
    list-style: none;
    padding: 0;
}

.doctor-category ul li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#chatSection {
    margin-top: 20px;
    text-align: left;
}

#chatSection h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

#chatMessages {
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
}

#messageInput {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

#sendMessageButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sendMessageButton:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    color: #666;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}
